#red {
  border-top-color: #f00; /* Red color */
}

#orange {
  border-top-color: #ffa500; /* Orange color */
}

#yellow {
  border-top-color: #ff0; /* Yellow color */
}

#green {
  border-top-color: #00bc3f; /* Green color */
}

#blue {
  border-top-color: #06f; /* Blue color */
}

#indigo {
  border-top-color: #8a2be2; /* Indigo color */
}

#violet {
  border-top-color: #d300c9; /* Violet color */
}
